.abc{
	height:100%;
	width:100%;
	position:absolute;
	
}
h1
{
	font-size:78px;
    color:red;
	font-family:Comic Sans MS;
	font-style:italic;
	
}

body  {
    background-image: url("chat.jpg");
	 background-size: 2000px 1500px;
	  background-repeat: no-repeat;
}
p{
	font-family:Comic Sans MS;
	color:red;
   font-size:20px;
   display: table-row;
	

}
h4{
	font-size:50px;
	color:red;
	text-align: left;
	font-family:Comic Sans MS;
	
}
h3{
	font-size:40px;
	color:red;
	text-align:center;
	font-family:Comic Sans MS;
}
h2{
	font-size:70px;
	color:red;
	text-align:center;
	font-family:Comic Sans MS;
}
  
label { display: table-cell; }

form  { display: table;      }


input {
	font-size:20px;
        width: 500px;
        clear: both;
		display: table-cell;
    }
	button{
		font-size:36px;
		font-family:Comic Sans MS;
		color:red;
		 width: 300px;
	}
	pre{
		font-family:Comic Sans MS;
	color:red;
   font-size:20px;
	}
	.test{
		border:1px solid red;
		width:10%;
		height:10%;
		color:#FFF;
	}
	.userName{
		font-family:Comic Sans MS;
	color:red;
   font-size:20px;
	
			}
			#scrollArea {
  height: 280px;
  overflow: auto;
}

#bottom {
  display: block;
  margin-top: 100px;
}
.online{
	border:1px solid red;
		width:20%;
		height:10%;
}